<launch>
  <arg name="repo_root" default="$(env REPO_ROOT)"/>
  <arg name="map_path" default="$(arg repo_root)/assets/maps/powerplant_local.pcd"/>
  <arg name="odom_topic" default="/Odometry"/>
  <arg name="slam_odom_topic" default="/slam/odom"/>
  <arg name="cloud_topic" default="/cloud_registered"/>
  <arg name="lidar_topic" default="/livox/lidar2"/>
  <arg name="lidar_input_type" default="pointcloud"/>
  <arg name="depth_topic" default="/e2e/depth/image_raw"/>
  <arg name="target_speed" default="1.0"/>
  <arg name="lookahead_distance" default="2.0"/>
  <arg name="default_goal_z" default="1.2"/>
  <arg name="net_weight" default="$(arg repo_root)/../../training_code/logs/depth_camera/single_agent_odom/20260504_122043_dob_hover_dp_depth_odom/checkpoint0004.pth"/>
  <arg name="publish_to_px4" default="true"/>
  <arg name="controller_debug" default="false"/>
  <arg name="use_localization_mode_manager" default="false"/>
  <arg name="gnss_odom_topic" default="/gnss/odom"/>
  <arg name="gnss_mode_topic" default="/gnss/mode"/>
  <arg name="localization_mode_topic" default="/localization/mode"/>
  <arg name="localization_smoothing_alpha" default="0.25"/>

  <include unless="$(arg use_localization_mode_manager)" file="$(find navigation_bringup)/launch/localization.launch">
    <arg name="repo_root" value="$(arg repo_root)"/>
    <arg name="map_path" value="$(arg map_path)"/>
    <arg name="lidar_topic" value="$(arg lidar_topic)"/>
    <arg name="input_type" value="$(arg lidar_input_type)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
    <arg name="publish_to_px4" value="$(arg publish_to_px4)"/>
  </include>

  <include if="$(arg use_localization_mode_manager)" file="$(find navigation_bringup)/launch/localization.launch">
    <arg name="repo_root" value="$(arg repo_root)"/>
    <arg name="map_path" value="$(arg map_path)"/>
    <arg name="lidar_topic" value="$(arg lidar_topic)"/>
    <arg name="input_type" value="$(arg lidar_input_type)"/>
    <arg name="odom_topic" value="$(arg slam_odom_topic)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
    <arg name="publish_to_px4" value="$(arg publish_to_px4)"/>
  </include>

  <include if="$(arg use_localization_mode_manager)" file="$(find localization_mode_manager)/launch/mode_manager.launch">
    <arg name="slam_odom_topic" value="$(arg slam_odom_topic)"/>
    <arg name="gnss_odom_topic" value="$(arg gnss_odom_topic)"/>
    <arg name="gnss_mode_topic" value="$(arg gnss_mode_topic)"/>
    <arg name="selected_odom_topic" value="$(arg odom_topic)"/>
    <arg name="localization_mode_topic" value="$(arg localization_mode_topic)"/>
    <arg name="smoothing_alpha" value="$(arg localization_smoothing_alpha)"/>
  </include>

  <include file="$(find global_astar_planner)/launch/planner.launch">
    <arg name="repo_root" value="$(arg repo_root)"/>
    <arg name="map_path" value="$(arg map_path)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="default_goal_z" value="$(arg default_goal_z)"/>
  </include>

  <include file="$(find global_path_target_bridge)/launch/bridge.launch">
    <arg name="path_topic" value="/global_path"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="target_topic" value="/e2e/local_target"/>
    <arg name="lookahead_distance" value="$(arg lookahead_distance)"/>
  </include>

  <include file="$(find e2e_px4_controller)/launch/controller.launch">
    <arg name="repo_root" value="$(arg repo_root)"/>
    <arg name="net_weight" value="$(arg net_weight)"/>
    <arg name="depth_topic" value="$(arg depth_topic)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="target_topic" value="/e2e/local_target"/>
    <arg name="target_speed" value="$(arg target_speed)"/>
    <arg name="debug" value="$(arg controller_debug)"/>
  </include>
</launch>
